.navigation_header {

}

.question_table {
    width: 100%;
}

.navbar_container {
    display: flex;
    align-items: center;
    width: 100%;
}

.banner {
    margin: 0 var(--lumo-space-m);
    font-size: var(--lumo-font-size-l);
}

.content_container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    background-color: grey;
    /* Use a transition for smooth resizing */
    transition: margin-right 0.3s ease-in-out;
}


.side_bar {
    background-color: var(--lumo-base-color);
    height: 100%;
    width: 100%; /* Take up the full width of the 'drawer' part */
    overflow: hidden;
}

.content {
    flex: 1;
    width: 100%;
    padding: var(--lumo-space-m);
}

.footer_container {
    position: fixed; /* Pins the element to the viewport */
    bottom: 0;       /* Aligns it to the bottom edge */
    left: 0;
    width: 100%;
    z-index: 10;     /* Ensures it stays above the content */
    background-color: var(--lumo-base-color);
    padding: var(--lumo-space-m);
    border-top: 1px solid var(--lumo-contrast-10pct);
    display: flex;
    justify-content: center;
}